
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */
.icon-vkontakte-2:before { content: '\f354'; } /* '' */